// style scoped 样式只能在当前组件下生效
// 大白话：在自己的组件能够看到的标签，我们的样式可以影响这个些标签
// 如果，是其他组件内部自己的标签，我们是不能影响它的样式。
// 上传组件
.avatar-uploader{
    text-align: center;
  }
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409eff;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  
  // 覆盖富文本样式
  // 公用样式和组件样式，后者优先级更高
  .container-publish .ql-editor{
    height: 300px;
  }
  .container-publish .ql-toolbar.ql-snow{
    padding: 0 8px;
  }